  body {
    padding: 0;
    margin: auto;
    font-family: calibri, sans-serif;
  }

  #header {
    background-color: rgb(128, 128, 128);
    width: 100%;
    font-size: 22px;
    padding: 12px;
    text-align: center;
  }

  #menu {
    float: left;
    width: 35%;
    background-color: aqua;
    text-align: center;
  }

  #menu img {
    cursor: pointer;
    margin: 5%;
    width: 35%;
  }

  #viewer {
    float: right;
    width: 65%;
    background: rgb(128, 128, 128);
    text-align: center;
  }

  #viewer img {
    width: 75%;
  }
  
  /* Navigation Bar CSS Section */
  .navbar {
    background-color: #333;
    overflow: hidden;
  }

  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background-color: white;
    color: black;
  }

  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }

  .colorButton {
    background-color: rgb(255,0,0);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    box-shadow: none;
    margin: 10px;
  }

  #buttonWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
  }

  #colorValue {
    margin: 0 auto;
    text-align: center;
  }

  #answer {
    margin: 0 auto;
    text-align: center;
  }

  #reset {
    margin: 0 auto;
    text-align: center;
  }

  #reset-button {
    padding: 10px;
    background: none;
    border: 1px solid #000;
    margin: 10px;
  }